.App {
  text-align: center;
}

/*.GameBoard {
  position: relative;
}*/

.GameBoard img {
  /*width: 100vw;*/
  width: 100%;
}

.Instructions {
  text-align: center;
}
.instructionImages img {
  max-height: 30vh;
}
.answerBox ul {
  margin: 0;
  padding: 0;
}
.answerOption {
  list-style: none;
  padding: 2px;
  border: 2px solid black;
  background-color: antiquewhite;
  cursor: pointer;
}

.charactersLeft {
  list-style: none;
  padding: 2px;
  border: 2px solid black;
  background-color: rgb(143, 240, 180);
}

.answerOption:hover {
  background-color: lightblue;
}
