.App {
  text-align: center;
  padding-bottom: 1vh;
}

/*.GameBoard {
  position: relative;
}*/

.GameBoard img {
  /*width: 100vw;*/
  width: 100%;
}

.Instructions {
  text-align: center;
}

.Instructions button {
  padding: 7px;
  font-weight: 700;
}

.instructionImages img {
  max-height: 30vh;
}
.answerBox ul {
  margin: 0;
  padding: 0;
}
.answerOption {
  list-style: none;
  padding: 2px;
  border: 2px solid black;
  background-color: antiquewhite;
  cursor: pointer;
}

.charactersLeft {
  list-style: none;
  padding: 2px;
  border: 2px solid black;
  background-color: rgb(143, 240, 180);
}

.answerOption:hover {
  background-color: lightblue;
}

.timer {
  background-color: rgba(105, 105, 105, 0.5);
  position: fixed;
  top: 1vh;
  padding: 1vh 1vh 1vh 1vh;
  margin-left: 3vw;
  font-size: xx-large;
  font-weight: 700;
}

.scoreBoard {
  position: fixed;
  top: 25vh;
  left: 27vw;
  width: 45vw;
  background-color: rgb(255, 246, 235);
  padding: 5vh;
  border-radius: 25px;
  border: 2px solid black;
  box-shadow: 5px 5px 5px rgb(146, 146, 146);
}

.score,
.singleScore {
  display: flex;
  justify-content: space-around;
}
.score p {
  font-weight: 700;
}

.scoreWrapper {
  display: flex;
  flex-direction: column;
}
