.App {
  text-align: center;
}

/*.GameBoard {
  position: relative;
}*/

.GameBoard img {
  /*width: 100vw;*/
  width: 100%;
}

.Instructions {
  text-align: center;
}

.answerBox ul {
  margin: 0;
  padding: 0;
}
.answerOption {
  list-style: none;
  padding: 2px;
  border: 2px solid black;
  background-color: antiquewhite;
}

.answerOption:hover {
  background-color: lightblue;
}
